/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/* Container holding the image and the text */
span.heading-text {
  color: "white";
  text-align: left;
  font-size: 150%;
}

div.container {
  position: relative;
}

div.text-main {
  position: absolute;
  left: 10px;
  font-size: 200%;
}

div.main {
  text-align: center;
  font-size: 200%;
}

div.subheading{
  text-align: center;
  font-size: 150%;
}

div.center {
  text-align: center;
}

div.figures {
  width: 150px;
  height: 220px;
  position: relative;
  text-align: center;
  display: inline-block;
}

div.minifigures {
  width: 150px;
  height: 162px;
  padding: 0px;
  position: relative;
  text-align: center;
  display: inline-block;
}

.minifigure_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #828282;
}

.minifigure_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.minifigures:hover .minifigure_overlay {
  opacity: 0.8;
}

div.widefigures {
  width: 150px;
  height: 150px;
  padding: 10px 30px 10px 30px;
  position: relative;
  text-align: center;
  display: inline-block;
}

div.figurecaption {
  width: 150px;
  height: 50px;
  position: absolute;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #a3a3a3;
  color: white;
  padding: 0px;
}

div.pagefigures {
  width: 600px;
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.pagefigurecaption {
  width: 600px;
  height: 65px;
  position: absolute;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #a3a3a3;
  color: white;
  padding: 0px;
}


div.figures-event-role {
  width: 200px;
  height: 75px;
  position: relative;
  text-align: left;
  display: inline-block;
  background-color: #a3a3a3;
}

div.figurecaption-event-role {
  width: 125px;
  height: 75px;
  position: relative;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #a3a3a3;
  color: white;
  padding: 0px;
}

img.square-thumb {
  width: 75px;
  height: 75px;
  vertical-align: left;
  padding: 0px 15px 0px 0px;
}

p.event-role-text {
  color: white;
  position: relative;
  bottom: 55px;
  left: 90px;
}


div.figure-event {
  width: 150px;
  height: 240px;
  position: relative;
  text-align: center;
  display: inline-block;
}

div.caption-organiser {
  width: 150px;
  height: 70px;
  position: absolute;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #af673b;
  color: white;
  padding: 0px;
}

div.caption-support {
  width: 150px;
  height: 70px;
  position: absolute;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #d6824f;
  color: white;
  padding: 0px;
}

div.caption-speaker {
  width: 150px;
  height: 70px;
  position: absolute;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #707070;
  color: white;
  padding: 0px;
}

div.caption-local {
  width: 150px;
  height: 70px;
  position: absolute;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #a3a3a3;
  color: white;
  padding: 0px;
}

div.caption-remote {
  width: 150px;
  height: 70px;
  position: absolute;
  text-align: center;
  vertical-align: 20px;
  font-size: 90%;
  background-color: #4FB3A9;
  color: white;
  padding: 0px;
}



div.languages {
  height: 30px;
  padding: 5px 10px 5px 10px;
}

iframe {
  border: 0px solid $grey-color-dark
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * Set up main im
 */
figure.centered_image {
  float: left;
  display: table;
  width: 50%;
  vertical-align: centre;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img.right-image {
  float: right;
  width: 200px;
  padding: 0px 0px 0px 50px;
}

img.profiletext {
  border: 1px solid grey;
  float: left;
  max-width: 100%;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  margin: 5px 15px 5px 0px;
}


img.profilecenter {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  padding: 0px;
}

img.logocenter {
  float: centre;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  padding: 5px
}


img.widecenter {
  width: 600px;
  vertical-align: middle;
  padding: 0px;
}


img.language {
  height: 30px;
}

img.hex {
  float: left;
  width: 129px;
  height: 150px;
  vertical-align: middle;
  padding: 5px 15px 5px 0px;
}

img.hexleft {
  float: left;
  width: 129px;
  height: 150px;
  vertical-align: middle;
  padding-left: 100px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-right: 57px;
  margin-bottom: -45px;
}

img.hexright {
  float: left;
  width: 129px;
  height: 150px;
  vertical-align: middle;
  padding-left: 100px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 57px;
  margin-bottom: -45px;
}

img.hex-right {
  float: right;
  width: 129px;
  height: 150px;
  vertical-align: middle;
  padding: 0px 0px 10px 30px;
}

img.hex_title {
  width: 215px;
  height: 250px;
  vertical-align: middle;
  padding: 60px 10px 10px 40px;
}

img.hex-thumb {
  float: left;
  width: 65px;
  height: 75px;
  vertical-align: middle;
  padding: 5px 15px 5px 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 100%;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: #00989b;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

a.linkbutton {
  color: white;
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

 .orange {
   color: $orange-color;
 }

 .grey {
   color: $grey-color;
 }

.svg-icon {
    width: 16px;
    height: 18px;
    display: inline-block;
    fill: currentColor;
    padding-right: 5px;
    vertical-align: text-bottom;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}


/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
  border: 0px solid $grey-color-light;
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    border: 0px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 0px solid $grey-color-light;
  }
}

table.people {
  text-align: left;
}

table.header {
  text-align: left;
  font-size: 150%;
}

td.people {
  vertical-align: top;
}

button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.grey{
    background-color: #a3a3a3;
}

button.available {
  background-color: #5db766;
}

button.prototype {
  background-color: #c1b95e;
}

button.development {
  background-color: #c1675d;
}