<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="home">

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
      <br>

      <div class="section">
        <main class="page-content" aria-label="Content">
          <div class="wrapper">
            <div class="center"><h2>Evidence Synthesis & Meta-Analysis in R (ESMA-R) Conference</h2></div>
            <p>We invite you to join us for a 2-day conference in January 2021 dedicated to conducting evidence syntheses and meta-analyses in R.</p>

            <p>This conference will be held over two days and across all timezones for an inclusive and diverse discourse around the state-of-the-art in tools to support evidence synthesis and meta-analysis in R.</p>

            <em>For more information, or to submit an abstract, see our <a href="/events/2021-01-ESMAR.html">event page</a></em>
            <br>
            <br>
          </div>
        </main>
      </div>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <div class="center"><h2>Core Contributors</h2></div>
          <div class="post">
            {% for person in site.people %}
              {% if person.core contains "TRUE" %}
                {%- include display-person.html -%}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </main>


      <div class="section">
        <main class="page-content" aria-label="Content">
          <div class="wrapper">

            <div class="center"><h2>Key Projects</h2></div>

            <div class="clearfix">
              <a href="/software/metaverse">
                <img class="hexleft" src="/assets/images/hex/metaverse.png" alt="metaverse">
              </a>
              <br>
              <a href="/software/metaverse">metaverse</a>
              <p>Evidence synthesis workflows for R</p>
            </div>

            <div class="clearfix">
              <a href="/software/grey-lit-reporter">
                <img class="hexright" src="/assets/images/hex/grey-lit-reporter.png" alt="Grey Literature">
              </a>
              <br>
              <a href="/software/grey-lit-reporter">Grey Literature Reporter</a>
              <p>Chrome plugin for grey literature searching</p>
            </div>

            <div class="clearfix">
              <a href="/software/eviatlas">
                <img class="hexleft" src="/assets/images/hex/eviatlas.png" alt="metaverse">
              </a>
              <br>
              <a href="/software/eviatlas">eviatlas</a>
              <p>An R tool for exploring systematic map databases</p>
            </div>

            <br>
            <br>

          </div>
        </main>
      </div>

      <br>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <div class="center"><h2>News</h2></div>
          {%- if site.posts.size > 0 -%}
            <ul class="post-list">
              {% for post in site.posts %}
                <div class="clearfix">
                  <img class="profiletext"
                    src= /assets/images/posts/{{ post.image }}
                    alt={{ post.name }}/>
                  <a href="{{ post.url }}">{{ post.title }}</a><br>
                  {% if post.description.size > 0 %}
                    <em>{{ post.description }}</em><br>
                  {% endif %}
                  {{ post.excerpt }}
                </div>
                <br>
              {% endfor %}
            </ul>
          {%- endif -%}
        </div>
      </main>

    </div>



    {%- include footer.html -%}

  </body>

</html>