<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="home">

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
      <br>

      <div class="section">
        <main class="page-content" aria-label="Content">
          <div class="wrapper">
            <div class="center">
              <h2>
              <a href="/events/2021-01-ESMAR.html">
                Evidence Synthesis & Meta-Analysis in R Conference (ESMARConf)
              </a>
              </h2>
            </div>
            <img class="profilewidth"
              src= "/assets/images/events/ESMARConf.png"
              alt="R logo"
            />
            <p>In January 2021, we hosted a 2-day conference dedicated to conducting evidence syntheses and meta-analyses in R.</p>

            <p>The conference presentations and livestreams are all available on YouTube - check out the exciting programme <a href="/events/2021-01-ESMAR.html">here</a>.</p>
            <br>
            <br>
          </div>
        </main>
      </div>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <div class="center"><h2>Core Contributors</h2></div>
          <div class="post">
            {% for person in site.people %}
              {% if person.core contains "TRUE" %}
                {%- include display-person.html -%}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </main>


      <div class="section">
        <main class="page-content" aria-label="Content">
          <div class="wrapper">

            <div class="center"><h2>Key Projects</h2></div>

            <div class="clearfix">
              <a href="/software/metaverse">
                <img class="hexleft" src="/assets/images/hex/metaverse.png" alt="metaverse">
              </a>
              <br>
              <a href="/software/metaverse">metaverse</a>
              <p>Evidence synthesis workflows for R</p>
            </div>

            <div class="clearfix">
              <a href="/software/grey-lit-reporter">
                <img class="hexright" src="/assets/images/hex/grey-lit-reporter.png" alt="Grey Literature">
              </a>
              <br>
              <a href="/software/grey-lit-reporter">Grey Literature Reporter</a>
              <p>Chrome plugin for grey literature searching</p>
            </div>

            <div class="clearfix">
              <a href="/software/eviatlas">
                <img class="hexleft" src="/assets/images/hex/eviatlas.png" alt="metaverse">
              </a>
              <br>
              <a href="/software/eviatlas">eviatlas</a>
              <p>An R tool for exploring systematic map databases</p>
            </div>

            <br>
            <br>

          </div>
        </main>
      </div>

      <br>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <div class="center" id="news"><h2>Interviews and ESH Usability Blog</h2>
          <h4>Check out our latest interviews and ESH Usability Blog posts here:</h4></div>
          {%- if site.posts.size > 0 -%}
            <ul class="post-list">
              {% for post in site.posts %}
                <div class="clearfix">
                  <img class="profiletext"
                    src= /assets/images/posts/{{ post.image }}
                    alt={{ post.name }}/>
                  <a href="{{ post.url }}">{{ post.title }}</a><br>
                  {% if post.description.size > 0 %}
                    <em>{{ post.description }}</em><br>
                  {% endif %}
                  {{ post.excerpt }}
                </div>
                <br>
              {% endfor %}
            </ul>
          {%- endif -%}
        </div>
      </main>

    </div>



    {%- include footer.html -%}

  </body>

</html>