---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.name | escape }}</h1>
    <em>{{ page.affiliation }}</em>
    &nbsp;&nbsp;

    {%- if page.homepage.size > 0 -%}
      <a
        href={{ page.homepage }}
        title="Homepage"
        target="_blank"
        rel="noopener">
        <i class="fa fa-home fa-2x" style="color:#4FB3A9"></i>
      </a>&nbsp;
    {%- endif -%}

    {%- if page.github.size > 0 -%}
      <a
        href="https://github.com/{{ page.github }} "
        title="GitHub"
        target="_blank"
        rel="noopener">
        <i class="fa fa-github fa-2x" style="color:#4FB3A9"></i>
      </a>&nbsp;
    {%- endif -%}

    {%- if page.twitter.size > 0 -%}
      <a
        href="https://twitter.com/{{ page.twitter }}"
        title="Twitter"
        target="_blank"
        rel="noopener">
        <i class="fa fa-twitter fa-2x" style="color:#4FB3A9"></i>
      </a>&nbsp;
    {%- endif -%}

    {%- if page.podcast.size > 0 -%}
      <a
        href={{ page.podcast }}
        title="Podcast"
        target="_blank"
        rel="noopener">
        <i class="fa fa-play fa-2x" style="color:#4FB3A9"></i>
      </a>&nbsp;
    {%- endif -%}

  </header>

  <div class="clearfix">
    <div class="post-content e-content" itemprop="articleBody">
      <img class="profiletext" src= /assets/images/people/{{ page.image }} alt={{ page.name }}/>
      {{ content }}
    </div>
  </div>

  <br>

  <table class="people">
    <tr>
      <th width="20%">Events</th>
      <th width="40%">Software</th>
      <th width="40%">Discussions</th>
    </tr>
    <tr>
      <td class="people">
        {% for event in page.events %}
          <div class="figures-event-role">
            <a href=/events/{{ event.title }}>
              <img
                class="square-thumb"
                src= /assets/images/events/{{ event.title }}.png
                alt={{ event.title }}
              />
              <p class="event-role-text">{{ event.role }}</p>
            </a>
          </div>

        {% endfor %}
      </td>
      <td class="people">
        {%- if page.developer.size > 0 -%}
          {% assign packages = site.people | map: 'developer' | join: ',' | split: ',' | uniq %}
          {% for package in packages offset:1 %}
            {% if page.developer contains package %}

              {% for software-tr in site.software %}
                {% if software-tr.short-title contains package %}
                  <div class="clearfix">
                    <a href=/software/{{ package }}>
                      <img
                        class="hex-thumb"
                        src= /assets/images/hex/{{ package }}.png
                        alt={{ package }}
                      />
                    </a>
                    <a href=/software/{{ package }}>
                      {{ software-tr.title }}
                    </a>
                    <br>
                    <em>{{ software-tr.description }}</em>
                  </div><br>
                {%- endif -%}
              {% endfor %}

            {%- endif -%}
          {% endfor %}
        {%- endif -%}
      </td>
      <td class="people">
        {% if page.contributor.size > 0 %}
          {% assign projects = site.people | map: 'contributor' | join: ',' | split: ',' | uniq %}
          {% for project in projects %}
            {% if project != "" %}
              {% for discussion in site.discussions %}
                {% if page.contributor contains project and discussion.short-title contains project %}
                  <a href=/discussions/{{ project }}>
                    {{ discussion.title }}
                  </a>
                  <br>
                  <em>{{ discussion.description }}</em>
                  <br><br>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </td>
    </tr>
  </table>


  <br>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
