---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <em>{{ page.description }}</em><br>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <img class="profiletext" src= /assets/images/posts/{{ page.image }} alt={{ page.title }}/>{{ content }}
  </div>

  <span>
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <button class="grey">
        <a class="linkbutton" href="/tag/{{ tag_name }}">
          {{ tag_name }}
        </a>
      </button>&nbsp;
    {% endfor %}
  </span>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
